[2016-05-09 22:51] manask88 opened #1 "Example doesn't work"
I think you forgot to include some files in your push.  RN complains that It cannot find the app/routes folder. I took a quick look and I couldn't even find the app folder for the example!

[2016-05-10 00:51] jmurzy commented on #1
Thanks for the heads up. I've just open sourced the core early this morning. I'm still working on documentation and an example app. It might take a couple <s>days</s>weeks, but I'll try to get one up soon.

🍺

[2016-05-23 20:52] jonathanglasmeyer commented on #1
I am looking for a routing lib that provides a react-router API and your approach is the only one I've found. I'd be interested in helping out. A running example would be a great start. 👍🏻:)

[2016-05-23 23:53] jmurzy commented on #1
@jonathanewerner I'd love some help here for sure 👍— however, the reason I've not been able to publish an example is that the NavigationExperimental API is going through a [drastic](https://github.com/facebook/react-native/commit/14eb427a8061e0c904ace022535070150c6872d4) [clean](https://github.com/facebook/react-native/commit/7db7f78dc7d2b85843707f75565bcfcb538e8e51) [up](https://github.com/facebo

[2016-05-24 00:01] jmurzy opened #2 "PanResponder and StyleInterpolator missing in 0.27.0-rc"
react-native 0.27.0-rc breaks NavigationalExperimental API where NavigationCard removes `PanResponder` and `StyleInterpolator`s from its public API.

See [facebook/react-native/14eb427#commitcomment-17574628](https://github.com/facebook/react-native/commit/14eb427a8061e0c904ace022535070150c6872d4#commitcomment-17574628)

:beer:

[2016-05-24 00:05] jmurzy opened #3 "NavigationTransitioner introduces performance issues"
Seeing a huge [degradation in performance](https://github.com/facebook/react-native/commit/7db7f78dc7d2b85843707f75565bcfcb538e8e51#commitcomment-17575647) compared to `AnimatedView`. The performance hit seems to be greater in nested `NavigationTransitioner`.

See [facebook/react-native@7db7f78#commitcomment-17602162](https://github.com/facebook/react-native/commit/7db7f78dc7d2b85843707f75565bcfcb

[2016-05-24 07:06] jonathanglasmeyer commented on #1
Ok, good to know the background here. I'm just getting started with the react-native ecosystem, so this helps to know what you're dealing with.
Your [gif-example](https://raw.githubusercontent.com/jmurzy/react-router-native/master/docs/screenshot.gif) looks quite comprehensive. Would it make sense to have a "minimal" example to get _something_ working first? Maybe that one won't break as much? Jus

[2016-05-27 01:07] #1 closed, assigned to jmurzy

[2016-05-27 01:21] jmurzy commented on #1
I just added an example app to the repo—but keep in mind that everything is [still](https://github.com/jmurzy/react-router-native/issues/2) [experimental](https://github.com/jmurzy/react-router-native/issues/3).

Also, I'm still working on the default behavior of `<StackRoute>`, especially when they are nested. So we are not quite there yet, and I think, to prevent distractions we should not publi

[2016-05-27 02:31] jmurzy opened #4 "Add `reducer` prop to Route config to allow override of merge behavior"
Currently there is no way to alter the default behavior of `mergeState` used by the default `reducer`. I'd like to explore ways to split mergeState into its modular blocks to make it configurable via a prop on route config. This will allow greater customizations on how `<Link>` behaves for a particular route. This would be especially useful for nested `<StackRoute>`'s where default action doesn't

[2016-05-27 19:48] jmurzy opened #5 "Documentation"
One of the the primary goals of this project is to keep its API as close to [react-router](https://github.com/reactjs/react-router/tree/master/docs) as makes sense. However, navigation on native platforms is a broader topic and we will probably have to introduce new concepts and options to accommodate for richer animations, the lack of hyperlinks, et al.

So far we've only introduced two additiona

[2016-05-28 07:52] jmurzy opened #6 "Add example with Redux"
We should add a new example that shows how to use the router with [react-router-redux](https://github.com/reactjs/react-router-redux).

---

Update—

See [react-router-native/docs#redux-support](https://github.com/jmurzy/react-router-native/tree/master/docs#redux-support)

:beer:

[2016-05-30 06:41] #4 closed, assigned to nobody

[2016-05-30 09:04] ms88privat opened #7 "comparison with react-native-router-flux"
This router looks nice!

Could you please provide some information about the differences compared to [react-native-router-flux](https://github.com/aksonov/react-native-router-flux)? Because router-flux is about the most used router until now I would say.

Is it only the API / Interface or does it have some other advantages or disadvantages?

From what I can tell:
- makes deep linking possible
- ??

[2016-05-31 00:10] jmurzy commented on #7
Thanks for the question.

Don't let npm confuse you. This project is currently under active development—aka use in production at your own risk. There used to be another project with the same name that the previous owner nuked. Unfortunately, removing or re-publishing old versions is no longer supported by npm. So the packages that are currently available on npm are the artifacts of a different pro

[2016-06-01 18:36] jonathanglasmeyer commented on #7
@jmurzy, do you have an opinion on the reasons the react-router maintainers stated for not supporting react native? I'm specifically thinking about the argument that native navigation patterns don't map to the web / URL paradigm (for example iOS tabs that have _one navigation stack each_).
We don't want to "force" web navigation patterns onto our native apps behaviour, it's more important that the

[2016-06-01 18:43] jonathanglasmeyer commented on #5
Quick question. react-router allows specifying the routes configuration as a plain JavaScript object. I would assume that this is not possible for this library. Is that correct?

[2016-06-01 19:12] jmurzy commented on #7
@jonathanewerner Take a look at this [discussion](https://github.com/reactjs/react-router/issues/743) for background. So basically, it's decided that a reducer-based paradigm was better suited to native navigation, and this is exactly what this library does—marries the react-router concepts to those of NavigationExperimental. Ultimately, it is also the [direction](https://github.com/reactjs/react-

[2016-06-01 19:58] jonathanglasmeyer commented on #7
K awesome, I knew the first discussion, not the second though. I'll try digging through the code on Friday and maybe work on documentation. 👍🏻

[2016-06-01 21:44] jmurzy commented on #5
@jonathanewerner It is possible to configure routes using a plain object. We have a hard dependency on react-router. I'd say it supports pretty much everything react-router does except for a few props that are [not yet implemented](https://github.com/jmurzy/react-router-native/blob/800622777e0dac89461e378d7e6d4e0d37872215/modules/Route.js#L31-L33).

🍺

[2016-06-01 21:50] jmurzy commented on #7
@jonathanewerner You're awesome! 💯 👍

🍺

[2016-06-07 12:43] jonathanglasmeyer opened #9 "`invariant` missing stack trace"
I wonder if it's possible to get stack traces for errors thrown via `invariant`.

![image](https://cloud.githubusercontent.com/assets/3755413/15857900/15604a5e-2cbe-11e6-829d-2dc4954a34fa.png)

I had to grep the source to see whats going on.

[2016-06-07 14:58] jonathanglasmeyer opened #10 "`createElement` behaviour not as indended"
I want to supply `createElement` to the `<Router>` to merge in props as documented [here](https://github.com/reactjs/react-router/blob/master/docs/API.md) under `createElement`.
The behaviour is not as intended: `RouteUtils::createNavigationTree` calls `createElement` with `RouteView`, which passes the additional props to the RouteView component. This component in turn _does not pass these additio

[2016-06-07 15:30] jonathanglasmeyer commented on #10
See the PR for a fix for my specific, minimal setup scenario. My current setup is:

[code]

[2016-06-08 04:13] jmurzy commented on #9
Can you reproduce this? We should probably throw a better error message here, especially for cases where we know the exact cause e.g. misconfiguration of routes. Otherwise, this shouldn't really be thrown unless an incompatible version of react-router is installed.

🍺

[2016-06-08 04:26] jmurzy commented on #10
You are right. I'll take a closer look and get back to you on #11 soon.

I also want to start writing unit and integration tests so it'll hopefully make refactoring a little less painful going forward. I guess better late than never, 🤕, and as usual I'd have to remind myself the following quote to not feel too terrible about it.

🍺

[2016-06-08 04:28] jmurzy commented on #2
This has been addressed by

[2016-06-08 04:28] #2 closed, assigned to jmurzy

[2016-06-08 05:11] jonathanglasmeyer commented on #10
Awesome idea. :)
That quote is on the wall of our office as well. 😄

[2016-06-08 05:16] jonathanglasmeyer commented on #9
Yea it occurred when I tried specifying the routes as plain JavaScript objects and forget to add a `reducer` prop. I first thought i should amend the error message to say that this prop is necessary but wasn't sure if that's correct in all cases (i.e. IndexRoute does not need a routeType, so i was not sure if every route would need a reducer)

[2016-06-09 08:10] jonathanglasmeyer opened #12 "`history.transitionTo` is not a function when using `replace` in `onEnter` hook"
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | 2.0.0-alpha.0 |
| react-router | 3.0.0-alpha.1 |
| react-native | 0.28.0-rc.0 |
### Expected Behavior

I want to use redirecting behaviour like so:

[code]

This should redirect to `/orders`/ when visiting `/`.
### Actual Behavior

Instead this fails with the following error:
<img src="https://cloud.githubusercontent.com/a

[2016-06-09 20:15] jmurzy commented on #12
Sorry about this. I know what's going on here. Will submit a patch soon.

🍺

[2016-06-09 20:53] jonathanglasmeyer commented on #12
That's good to hear!👍🏻

[2016-06-10 09:53] #12 closed, assigned to jmurzy

[2016-06-10 09:56] jmurzy commented on #12
This should fix it. Let me know if you run into any issues.

[2016-06-10 10:53] jonathanglasmeyer commented on #12
Will check monday! Awesome. :)

[2016-06-10 21:32] jmurzy commented on #7
Closing this based upon the discussion above. Please, feel free to reopen this if you want to follow up.

🍺

[2016-06-10 21:32] #7 closed, assigned to nobody

[2016-06-12 09:48] jonathanglasmeyer opened #17 "Fix TabsRoute behaviour"
TabsRoute should implement two behaviours:
- it should save the state for each child route and restore it when switching tabs
- it should reset a child's state if that child is being navigated to _twice_

Given the following route config:

[code]

Visiting routes should lead to the following results respectively:
1. /foo --> show /foo
2. /foo/a --> show /foo/a
3. /foo/b --> show /foo/b
4. /bar -->

[2016-06-12 23:34] jmurzy commented on #17
This is supported when root route, `/`, is leaf of a TabsRoute. I'll make the necessary changes to cover most other cases as well. It's the `<StackRoute>` that's causing `<TabsRoute>` to misbehave. It gets a bit tricky when we have nested routes. Making the default reducer used by `<StackRoute>` route order aware should fix this.

This is in the _README_ under _Advanced Usage_. It is possible with

[2016-06-13 07:48] #10 closed, assigned to jmurzy, jonathanglasmeyer

[2016-06-13 12:08] jonathanglasmeyer opened #20 "A Route with `indexRoute` should not have a mandatory `component`"
In our web project with React Router we use the following route config for our route `/orders`:

[code]

`/orders`/ renders `ListController`, `/orders/:orderId` renders `SingleController`.
This pattern does not work when using this lib, failing with  'Failed propTypes: Required prop `component` was not specified in `RouteView`.' and rendering nothing.
I'd expect this library to match react router'

[2016-06-13 17:41] joonhocho commented on #17
Can the state also include its scroll position?
Native apps seem to store everything including scroll position, or maybe they keep the rendered view alive somewhere and simply switch to it.
I wonder how the life cycle works for those tabs in the native apps.

[2016-06-13 19:39] jonathanglasmeyer commented on #17
The F8 app does this, uses NavExp and is open source. So it should be possible. Haven't investigated this in detail but it's a must-have for sure.

[2016-06-13 20:27] jmurzy commented on #17
@jonathanewerner @joonhocho That is supported. Previously, there was a [bug](https://github.com/ericvicenti/navigation-rfc/issues/61) in NavigationExperimental that dropped component state when swtiching tabs. But that's now fixed, and `<Route>` and its siblings should now retain component state on all navigation state updates. This includes `<ScrollView>` state e.g. scroll position, animation sta

[2016-06-13 20:51] jmurzy commented on #20
This should work as expected. #19 doesn't fix this? That was a good catch btw. 😅

[2016-06-13 21:00] jonathanglasmeyer commented on #20
Well I'll double check tomorrow, but the proptype warning will be there for sure, which it shouldn't right?

[2016-06-14 01:40] joonhocho commented on #17
Thanks @jmurzy for such detailed answer.
I once noticed that tabs on react native apps did not retain previous view states, but did not know that it was fixed.
It's pretty cool to know how they can lazily render other tabs.

[2016-06-14 23:02] joonhocho opened #21 "Integration with relay-tools/react-router-relay."
I like how this project reuses react-router, and I think this is the right direction for true code sharing between native apps and web.
I want to open an issue for integration with [react-router-relay](https://github.com/relay-tools/react-router-relay) as well.
I'm not sure if it would work out of box as is now, but I will play with it soon to see whether it needs some modifications.

[2016-06-15 00:53] jmurzy commented on #21
This would be an awesome addition. If you'd like to lead this effort, it would definitely be welcome! Feel free to get in touch on Discord.

At first sight it looks like [react-router-relay](https://github.com/relay-tools/react-router-relay) is just a [~~router middleware~~](react-router-apply-middleware) [router middleware](https://github.com/reactjs/react-router/blob/master/modules/applyRouterMi

[2016-06-15 05:21] joonhocho commented on #21
Correct me if I am wrong, but it seems the `react-router-relay` uses [this applyRouterMiddleware](https://github.com/reactjs/react-router/blob/master/modules/applyRouterMiddleware.js).

It matches the signature as it [provides `renderRouterContext` and `renderRouteComponent`](https://github.com/relay-tools/react-router-relay/blob/master/src/index.js).

I don't think there is any dependency to [rya

[2016-06-15 05:43] joonhocho commented on #21
I wonder if `react-router-native` can be refactored so that itself is also a middleware to `react-router`.

If done well, the final code with relay will look like the following:

[code]

[2016-06-15 07:52] jmurzy commented on #21
You're right. I wasn't aware of [this](https://github.com/reactjs/react-router/pull/3327)—looks like that was merged to master as of v2.3.0.

Either way, we would have to have full control over `RouterContext` to be able to support rendering with NavigationExperimental. So a middleware approach won't work.

I just created a [PR](22) that adds `applyRouterMiddleware` that uses the "native" `RouterC

[2016-06-15 22:06] joonhocho commented on #21
I need some time to really learn how routers work. I took some time last night, but there seem to be lots of things to learn. I will spend next few days digging sources, and will update this thread as I make any progress.

[2016-06-18 08:53] joonhocho opened #24 "How does it work with cyclic routes?"
Think of typical social user relationships.
A user can follow other users.

URL for John: `/user/john`
URL for Mike: `/user/mike`

URL change sequence:
`/user/john`
(push to)
`/user/john/followers`
(push to)
`/user/mike`
(push to)
`/user/mike/followers`
(push to)
`/user/john` (CYCLIC)
(pop back to)
`/user/mike/followers`
(pop back to)
`/user/mike`
(pop back to)
`/user/john/followers`
(pop back to)

[2016-06-18 09:16] jmurzy commented on #24
Cyclic as in it should push a previously pushed `<Route>` to `<StackRoute>`?

Totally. This should do it:

[code]

—or—

[code]

🍺

[2016-06-18 09:40] joonhocho commented on #24
Awesome!

[2016-06-19 10:16] joonhocho opened #25 "Same routes shared across multiple tabs."
I have a use case where there are many routes that are shared across multiple tab stacks.

Example:

[code]

`/friends` shows list of friends.
`/me` shows my account.
`/user/:userId` shows a profile of a user.
`/user/:userId/followers` shows a list of followers for a user.

Note that user can navigate to `user profile` and `user followers` from both `friends` and `me` tab.
They also share the same

[2016-06-20 08:32] jmurzy commented on #25
React Router matches routes [in the order they are defined](https://github.com/reactjs/react-router/blob/master/docs/guides/RouteMatching.md#precedence). See also, reactjs/react-router#1923. Hence, the jumps between tabs. So you will need to make sure "identical" paths are `relative` to their respective `<StackRoute>` or `<TabRoute>`.

I think the best way to approach it will be the following:

[c

[2016-06-23 10:28] joonhocho opened #26 "What would be the best way to dynamically change content of overlay from scene?"
Moved question to https://github.com/facebook/react-native/issues/8350

[2016-06-24 04:10] jmurzy commented on #26
See my comment [here](https://github.com/facebook/react-native/issues/8350#issuecomment-228251896). In terms of react-router-native, we should probably make this easier by passing the `overlay` `ref` in props to `route` components as soon as facebook/react-native@c57bac4767fe4301ff4515b073d26245c6905610 lands in a stable release.

[2016-06-24 07:26] joonhocho commented on #26
Excited for new changes in NavigationExperimental!

[2016-06-24 08:22] jmurzy commented on #26
Same here. I think we are only a couple weeks away from calling it just `Navigation`. ⌛️

🍺

[2016-06-30 08:14] dchambers commented on #10
I assume this issue is related to the following error I was getting:

[code]

because it went away when I updated the version of `react-router-native` from `^2.0.0-alpha.0` (current version in NPM) to `jmurzy/react-router-native#a9e4e01` (current `master` in GitHub).

[2016-06-30 08:28] dchambers commented on #20
I think I just hit essentially the same issue. I was getting this error:

[code]

which I fixed by changing my routes from something like this:

[code]

to something like this:

[code]

[2016-07-04 13:02] jonathanglasmeyer opened #27 "transitionTo has empty routerState"
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | master |
| react-router | 3.0.0-alpha.1 |
| react-native | 0.29.0-rc.2 |
### Expected Behavior

`transitionTo` should work.
### Actual Behavior

It throws because `routerState` is an empty object. This makes the code `routes.length - 2` in `getActiveParentRouteType` fail, because `routes` is undefined (destructured from `r

[2016-07-04 16:39] dchambers opened #28 "Why is the top-level `path` needed but ignored?"
In both the [usage example](https://github.com/jmurzy/react-router-native#usage) and the [code example](https://github.com/jmurzy/react-router-native/blob/master/examples/Aviato/app/routes.js) you have a top-level `TabsRoute` component having a path that doesn't appear to be part of the route, but is needed. In the code example I found that I could change the value to anything other than empty str

[2016-07-04 21:02] jmurzy commented on #27
I'm unable to reproduce this in the example app. Where do you call `transitionTo`?

Either way, this is something flow should've caught. I will try adding type annotations to the history interface.

🍺

[2016-07-04 21:41] jmurzy commented on #28
Sorry I know this can be a bit confusing.

Navigating to a `<Route>` has the effect of pushing that route component as a scene to its containing `<TabsRoute>` or `<StackRoute>`.

`path` is required for both  `<TabsRoute>` and `<StackRoute>` to allow navigation to a previous state without pushing a new scene onto the navigation stack. This is especially useful when you have nested routes e.g. neste

[2016-07-04 22:16] #24 closed, assigned to nobody

[2016-07-04 22:18] #28 closed, assigned to nobody

[2016-07-05 05:25] jonathanglasmeyer commented on #27
I'll try putting up a repro later. 👍🏻

[2016-07-05 10:45] dchambers commented on #28
Hi @jmurzy, thanks for taking the time to provide an explanation here. I've read and re-read your comment, and played about with the code a lot since, but I'm still struggling to precisely grasp the operational differences between 'react-router' and 'react-router-native', and the reasons for those differences.

Would I be right in saying that 'react-router-native' works the same as 'react-router'

[2016-07-05 10:49] dchambers commented on #28
Oh, maybe my misunderstanding also comes from the fact that I still haven't been able to do figure out what `component` and `overlayComponent` are for? I've tried playing playing about with these properties quite a bit, but am still yet to figure out how they're meant to be used.

[2016-07-05 15:34] arthurpark commented on #25
With proposed solution, how can I hide tab bar when on `userRoutes`? Trying to build something similar like FB messenger (Home -> conversation, People -> conversation)

[2016-07-05 15:54] joonhocho commented on #25
@arthurpark You can refer to https://github.com/facebook/react-native/issues/8350 for how to control overlays from the scene. I think the best way is to use either redux or some kind of event system as suggested on the thread.
@jmurzy What do you think about writing a new url matcher that first matches routes under the current route subtree, then climb up the tree if not found, and so on, for each

[2016-07-05 18:48] cpsubrian opened #29 "Question: Route vs StackRoute vs TabsRoute?"
Coming from heavy `react-router` web usage, and being fairly new to `react-native` development, it's not entirely clear to me what the difference between the three types of `<Route>` objects are?

[2016-07-05 20:55] cpsubrian commented on #29
Somewhat answered my own question via experimentation.
- It would seem that at the parent level you MUST use `TabsRoute` or `StackRoute` in order to dictate what type of animation to use.
- Direct children of either of those can just be plain `Route` routes.

Am I missing anything?

[2016-07-05 22:16] #29 closed, assigned to nobody

[2016-07-07 09:49] dchambers commented on #5
Hi @jmurzy,

I'm trying to be self sufficient here, and would love to be able to help write some documentation, but I'm still struggling to understand how `<StackRoute>`, `<TabsRoute>`,  `component`, `overlayComponent`, etc actually work.

To simplify things I decided to modify the example you provide so that it uses a modified form of the markup shown in the 'Usage' section rather than the 'Advan

[2016-07-07 15:29] peterp commented on #5
One of the things that I've come to understand is just because the routes are nested doesn't mean that they're relative, e.g.: you can still define an absolute path in a nested route, as such your routes can be accessed as follows:
- `app` (App)
- `/` (App + About)
- `app/users` (App + Users)
- `/users/:userId` (App + User)

The easiest way to deal with this is to drop the slashes from the path de

[2016-07-07 15:55] dchambers commented on #5
@peterp, thanks for the clarifying the situation with absolute Vs relative routes. That's really helpful 👍

However, even with that extra information, I'm still only able to see 'App' and 'NoMatch' when trying different routes, and never see 'About', 'Users' or 'User', as you seem to indicate. Is there something else I'm still not getting?

[2016-07-07 16:14] peterp commented on #5
@dchambers It's possible that there's something that I'm not understanding as well. Sorry for adding noise to this.

[2016-07-09 05:02] #3 closed, assigned to jmurzy

[2016-07-09 05:22] jmurzy commented on #20
Ugh. Sorry, I think I misunderstood this when I replied ^. You cannot omit `component`. So the `propType` warning is correct. Nested components are passed in `children` prop to their parents. Without a wrapper component, it doesn't make sense to have an `IndexRoute`. I'd be surprised if this doesn't spit out errors on the web.

🍺

[2016-07-09 05:22] #20 closed, assigned to nobody

[2016-07-09 05:27] jmurzy commented on #27
Did you get a chance to reproduce this in the example app? If you can help me pinpoint the issue, I'd like to fix this over the weekend.

🍺

[2016-07-09 08:25] jonathanglasmeyer commented on #27
Here we go. I fetched the newest master (#374b225), `npm install`ed in root and `examples/Aviato`, gulp "copy"ied the `modules` into the example folder.
When doing this in `routes.js`:

[code]

OR

[code]

This error occurs:
<img width="377" alt="screen shot 2016-07-09 at 10 24 46" src="https://cloud.githubusercontent.com/assets/3755413/16706935/6402ebd4-45bf-11e6-9787-d54cc8947de1.png">

[2016-07-10 02:12] #27 closed, assigned to nobody

[2016-07-10 02:13] jmurzy commented on #27
Fixed in @f367521298c25106986218bf38568f8f3c48beee. Thanks!

🍺

[2016-07-10 12:08] jonathanglasmeyer commented on #27
Woohoo!🎉

[2016-07-11 07:48] jmurzy commented on #5
I apologize for the delay in responding to this.

To understand how route matching works, I strongly recommend the React Router [docs](https://github.com/reactjs/react-router/blob/master/docs/guides/RouteMatching.md). That's what we use under the hood.

In your snippet ^, you've configured a `<TabsRoute>` with two "tabs". The first tab, `About`, can be accessed by navigating to `/`. Second tab, Us

[2016-07-11 08:48] dchambers commented on #5
Hi @jmurzy, thanks so much for taking the time to respond. Just in case it's not clear, the example snippet I provide is your own [simple example](https://github.com/jmurzy/react-router-native#usage), but slightly modified so that I could see which components are actually being rendered.

@peterp already helped me understand that you could use absolute paths in React Router, which I hadn't previou

[2016-07-11 21:54] jmurzy commented on #5
Ugh. Sorry about that. That example was adopted from the older React Router README. I was trying to mirror as much as possible to make it all easier for the React Router community.

But we need a simpler, more complete example in the README. Please feel free to submit a pull request. I greatly appreciate contributions, especially to the documentation and examples, #6.

Aside from the Dynamic Routi

[2016-07-11 21:59] dchambers commented on #5
Thanks @jmurzy! I'm just about to go to bed now, but will give this a try tomorrow. Assuming all goes well, I'd like to create a documentaton improvement pull-request that explains things in a way that would have been helpful to me, in case that information may also be helpful for others.

Thanks again :+1:

[2016-07-11 22:17] jmurzy commented on #25
@arthurpark Take a look at the example app. The only difference is that instead of rendering the [tabs](https://github.com/jmurzy/react-router-native/blob/master/examples/Aviato/app/components/Master/index.js#L180) in the `Master` component, you'd have to put them in each of your route components that render the individual tabs. So when the transition happens, tabs will just simply hide away as wi

[2016-07-12 02:17] #9 closed, assigned to jmurzy

[2016-07-12 03:34] cpsubrian commented on #26
@jmurzy Hey, posting the gist I linked to from Discord so others can follow-along/help. This is my attempt (not a runnable example, but has all relevant redux code) at using redux to control the title of a overlayComponent. The issue is that the actions do not fire when routes change from pop/back/etc because the components have already rendered.

https://gist.github.com/cpsubrian/278ad43f79f2301c

[2016-07-12 03:39] cpsubrian opened #30 "Expose `cardStyle` prop on NavigationCard once it lands in a release"
Added via this PR https://github.com/facebook/react-native/pull/8471

Allows overriding things like the default card `backgroundColor`.

[2016-07-12 05:09] jmurzy commented on #30
You should set the `backgroundColor` on the outmost `View` (wrapper) of your route `component`.

That PR adds `cardStyle` prop to `NavigationCardStack` which we do not use in this lib. We use a lower level API called `NavigationTransitioner` and render `NavigationCard` directly. I agree, however, that we should change the `backgroundColor` of the NavigationCard from [this](https://github.com/jmurz

[2016-07-12 05:17] jmurzy commented on #26
@cpsubrian Thanks for the gist. I'll try to reproduce this on my end, and get back to you in the next few days.

[2016-07-12 05:40] cpsubrian commented on #30
I absolutely can. Was looking through the source and didn't see the right stuff exposed but will look again. Its the color on NavigationCard that was bugging me.

[2016-07-12 05:42] cpsubrian commented on #26
Yeah no rush, in the meantime just adding the header in the component. Would be nice to get the animations driven by the interpolators back at some point though.

[2016-07-12 05:43] cpsubrian commented on #26
Thanks for taking a look.

[2016-07-12 10:51] dchambers commented on #5
Hi @jmurzy, I've just updated my example as per your recommendation and things are now looking good!

I do have a couple more questions though:
1. Is there actually way to have a header overlay rather than a footer overlay given that both [TabsRouteView](https://github.com/jmurzy/react-router-native/blob/7642d6a01415d2c7f6de7a89a071ac9a130805fd/modules/TabsRouteView.js#L165) and [StackRouteView](h

[2016-07-12 22:32] twelvearrays opened #32 "Missing dependencies."
This project contains components that are currently under active development and considered experimental. If it is something you can debug and fix, please consider submitting a pull request instead!

---
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | 2.0.0-alpha.2 |
| react-router | 3.0.0-alpha.1 |
| react-native | 0.30.0-rc.0 |
### Expected Behavior

To install with:

[2016-07-18 20:19] cpsubrian commented on #30
THis is closed by the PR that merged.

[2016-07-18 20:19] #30 closed, assigned to nobody

[2016-07-19 16:46] cpsubrian commented on #32
@twelvearrays I wonder if you're using npm@2.x or npm@3.x?

[2016-07-30 16:04] julienvincent opened #34 "Changing routes renders oldRouteComponent and newRouteComponent together"
| Dependency | Version |
| --- | --- |
| react-router-native | 2.0.0-alpha.2 |
| react-router | 3.0.0-alpha.1 |
| react-native | 0.30.0 |

When changing routes and no animation is set, both the transitionFrom component and the transitionTo component are briefly rendered together.

This results in a UI that looks something like this:

Device:
######

| -- transitionFromComponent --     |
|

[2016-08-01 15:31] ronaldheft commented on #32
Same issue. npm@3.x. Peer dependencies need to be explicitly stated as they are not downloaded by default.

[2016-08-02 07:46] dchambers commented on #5
Hi @jmurzy, I've just got back from my hols, and still owe you a documentation pull-request 😄 . Any chance you could address the questions in the previous comment so I can make a start on it?

[2016-08-09 04:57] thewavelet opened #35 "not working with import { syncHistoryWithStore } from 'react-router-redux';"
This project contains components that are currently under active development and considered experimental. If it is something you can debug and fix, please consider submitting a pull request instead!

---
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | ^2.0.0-alpha.2 |
| react-router | 3.0.0-alpha.1 |
| react-native | 0.31.0 |
### Expected Behavior

import { Route, Stack

[2016-09-01 13:44] jonathanglasmeyer opened #36 "Make compatible with RN 0.32"
React Native 0.32 changes the behaviour of NavigationHeader: it's not positioned absolutely anymore. We need to change the layout of `styles.wrapper`, similar to how its done in this [UIExplorer example diff](https://github.com/facebook/react-native/commit/38979f9c68bd054aca3c6102635b2005914506b1) (just needs `flexDirection: 'column-reverse'`).

This will break layout compatibility with RN < 0.32.

[2016-09-01 17:57] jonathanglasmeyer opened #38 "Swipe from left screen to pop"
I wonder if this is possible? While i am able to drag the left screen edge to the right i don't know how to hook into it so that i can `pop()`. Can't find any info on this.

[2016-09-01 18:41] jonathanglasmeyer commented on #38
Some digging revealed that these changes in `StackRouteView` kind of do what i'd want:

[code]

This is very clumsy of course _and_ the animation is _jerky_. Are there ways to do this proper? :)

Edit: Testing this in Release mode, the animation is not that jerky anymore. :)

[2016-09-01 21:41] jmurzy commented on #36
I have refactored quite a few things that also included support for **v0.32** and onwards but didn't want to push a patch because we are blocked by [this](https://github.com/mjackson/history/commit/27a09b97a248847f504c6e5294fd2ed4093dc861#commitcomment-18617238).

In the meanwhile, #37 is a great patch. Thanks, Jonathan. 🚀

🍺

[2016-09-02 18:10] jonathanglasmeyer commented on #36
Woa these babel configs in package.json files are a PITA. I was thinking of handling this via a postinstall script that'd remove the entries from the offending package jsons.

[2016-09-04 02:06] jmurzy commented on #38
Yikes, sorry about this oversight! I must have accidentally removed pan gesture handling when I restored compatibility with recent versions of NavigationExperimental. This used to work in [alpha.0](https://github.com/jmurzy/react-router-native/blob/v2.0.0-alpha.0/modules/RootWrapper.js#L64). Will push a fix shortly.

🍺

[2016-09-04 02:13] #38 closed, assigned to jmurzy

[2016-09-04 02:14] #36 closed, assigned to nobody

[2016-09-04 21:51] jmurzy commented on #34
Thanks for reporting. This is fixed in https://github.com/jmurzy/react-router-native/commit/73cf352326651ff710164020b1186e5c8abe3aa4. Will push a new release shortly. Previously I had to slightly defer execution of the transition animations due to [this bug](https://github.com/facebook/react-native/pull/8709/commits/9af57a79d31b4fb7ceb20587cd85a6ca6a1146dc) in NavigationExperimental.

🍺

[2016-09-04 21:51] #34 closed, assigned to nobody

[2016-09-05 12:15] jonathanglasmeyer opened #39 "Invariant throws false-positive for IndexRoutes"
### Version

[code]

The invariant at `ReducerUtils.js`:333 throws a false positive for IndexRoutes (i think).
It wants a reducer and a transition for IndexRoutes, which is not the indended behaviour (i think ;)).

I fixed it like so:

[code]

Is my reasoning correct?

[2016-09-07 21:20] jmurzy commented on #32
Not sure if this is a peer depencency issue.  **npm** can be flaky sometimes. Running `npm install` again does usually fix depencency issues.

Just pushed a new release, can you try again and let me know if it works for you?

[code]

Thanks!

🍺

[2016-09-07 21:20] #32 closed, assigned to nobody

[2016-09-08 02:30] steida opened #40 "Thoughts"
What do you think about https://github.com/exponentjs/ex-navigation? Isn't it the better approach?Also, I'm not sure whether it makes sense to rely on RR3 when RR4 should be universal and entirely different.

[2016-09-08 03:47] jmurzy commented on #40
Great questions 💯

I would say it really comes down to personal preference. Calling one better than the other would be unfair. This project was born out of my frustration while [searching for a router](https://github.com/reactjs/react-router/issues/743), and I had different goals in mind when I wrote it; namely,
- URL Driven Development
- Learn once, write anywhere: knowledge and proven idioms fro

[2016-09-09 08:56] jonathanglasmeyer commented on #40
We are developing an app for react web and react native with a shared codebase, only leaf view components are reiimplemented, the rest of the code is universal as in cross-plattform. We use react router onEnter hook to fetch data etc. react-router-native allows us to use these parts of the code (all container components to be exact) in both environments.
The code quality / complexity / size metric

[2016-09-09 15:24] steida commented on #40
@jonathanewerner I maintain universal dev stack, where I experiment with sharing code across all platforms. https://github.com/este/este

[2016-09-09 15:46] chirag04 commented on #40
It would be nice to hear from the authors of ex-navigation as well. cc @skevy @notbrent

(Disclaimer: I'm using ex-navigation in production but want the community to come up with best practices)

[2016-09-13 16:49] jbrodriguez commented on #40
Routing/Navigation is currently the biggest pain point in RN from my standpoint.

Additionally, Android always seem to be an afterthought.

I'm currently using a fork of https://github.com/Qwikly/react-native-router-redux, since it provided me with the easiest API.

I've looked at ex-navigation and I liked the API, but I also think that react-router-native is quite powerful.

Here's hoping that by

[2016-09-14 00:30] brentvatne commented on #40
This is really neat! Looking forward to seeing if this approach holds up in a large app. Maybe I don't understand the routing correctly, how would you implement something like this flow in react-router / react-router-native?
- On Facebook news feed
- Tap on a friend's name
- Tap on their photos
- Tap on the name of someone tagged in the photos
- Tap about
- Tap one of the pages that they like
- Ta

[2016-09-14 15:51] ghost opened #41 "Page transitions stopped working with alpha.5"
### Dependencies

| Dependency | Version |
| --- | --- |
| react-router-native | 2.0.0-alpha.5 |
| react-router | 3.0.0-alpha.3 |
| react-native | 0.32 |

Tested on iOS simulator
### Problem

With `alpha.4` the following route definitions animated correctly:

[code]

I redirect to `/orders` in the onEnter hook of the outermost route, so i start at `/orders`. With `alpha.4` the page transition from

[2016-09-14 18:28] jonathanglasmeyer commented on #41
Woops that was me logged in with a wrong account. 😴

[2016-09-14 19:48] brentvatne commented on #40
@jbrodriguez

Could you elaborate on this? Always looking to improve ex-navigation, if there is something missing from it that you need, let us know. Check out this demo of [shared element transitions](https://getexponent.com/@janic/shared-elements) for example ([original tweet](https://twitter.com/janicduplessis/status/775820776708698113)). Also ships with navigation drawer, tab, sliding tab, bui

[2016-09-14 20:32] jmurzy commented on #40
@brentvatne Thanks!

Here's what your routes config would look like for something akin to the Facebook app:

[code]

That's it 🤖

This will render a `NavigationTransitioner` (for "stack of cards") nested in another NavigationTransitioner (for tabs aka disable animations). You could recursively go as deep as you'd like. They don't have to be at the root level either. So you could put tabs inside ot

[2016-09-14 20:35] brentvatne commented on #40
@jmurzy - I'm not sure that answer is correct, because you would be popping routes to go back, no? In the FB app and most apps you can keep going infinitely deep in the stack

[2016-09-14 20:39] brentvatne commented on #40
[code]

[code]

[code]

[code]

[code]

[code]

Is this wrong? Would you need to have all of this to maintain history and be able to press back 5 times to get back to the root?

[2016-09-14 20:47] jbrodriguez commented on #40
@brentvatne sure, I'm using react-router in a web app and it's very simple conceptually. I think react-router-native is powerful because it offers the same mental model in a native app.

Having said that and knowing navigation in both platforms is different, I certainly like the approach by ex-navigation.

In the next couple of days, I'll free up some time to go deeper into both solutions and have

[2016-09-14 20:51] jmurzy commented on #40
@brentvatne Oh no. Those would be some ugly looking URIs 😅

I know this can be a bit confusing. It's cyclic once you enter `<StackRoute>`. Notice in [this](https://github.com/jmurzy/react-router-native/blob/master/examples/Simple/app/routes.js#L88) example, you can keep pressing on **Random** and it'll look up the matching route, and create a completely independent scene. It's not a 1-1 relationsh

[2016-09-14 20:59] brentvatne commented on #40
ooh I see. thanks for clarifying @jmurzy! what would the URL be at the end of that chain of events then?

[2016-09-14 21:42] jmurzy commented on #40
@brentvatne Final URL would be the last navigated path. Same as the browser behavior. In above case, it is **/feed/profile/jake**.

And if you wanted to have another tab as in the notifications tab in the Facebook app. You could just factor out your common tabs and pass it to both `<TabsRoute>`.

For example, if you tap on a new friend's request in the Notifications tab:

[code]

would push a new

[2016-09-14 22:18] jmurzy commented on #41
Interesting. When you say abrupt, the transition isn't as smooth?

I'll take a look at this and #39 soon. Sorry about the wait. ✌️

🍺

[2016-09-15 08:33] jenkins-wish commented on #41
No, it's no animation at all, just skips to the screen right away (with about 300ms delay).

No stress. Thanks for your awesome work man!

[2016-09-15 08:33] jonathanglasmeyer commented on #41
No, it's no animation at all, just skips to the screen right away (with about 300ms delay).

No stress. Thanks for your awesome work man!

[2016-09-15 09:03] jonathanglasmeyer commented on #41
Think i found the problem.
In transitionRegistry.js `defaultTransitionSpec`, increasing the duration to ~ 500 makes the transition visible. Below it looks like its skipping right away. This probably has to do with performance in Simulator with React dev mode (Remote JS Debugging was disabled btw. Animation perf is unusable there.). What a gotcha. What tripped me up was that there is no animation v

[2016-09-15 13:16] jonathanglasmeyer opened #43 "Why is the default transition for StackRoute HORIZONTAL_PAGER?"
This tripped me up right now. I'd expect HORIZONTAL_CARD__STACK_, as the name implies. This also means that users of StackRoute won't get swipe back behaviour. Is this intended?

[2016-09-15 13:32] #41 closed, assigned to nobody

[2016-09-15 19:23] deoqc opened #47 "Integration with Redux w/ HMR"
Is integration with redux, in a sense of [react-router-redux](https://github.com/reactjs/react-router-redux), on then table?

I'm currently using Navigator but the lack of HMR really slows down development.

[2016-09-15 23:33] jmurzy commented on #41
Ah, I suspected so. I wasn't able to reproduce. So wait, you had to increase the duration to make it work? Did you try running on a device?

Yeah, _Slow Animations_ option wouldn't have any effect because, unlike Android, iOS animations are currently [configured to run on the JS thread](https://github.com/jmurzy/react-router-native/blob/master/modules/transitionRegistry.js#L25-L28). This will hope

[2016-09-15 23:40] jmurzy commented on #47
Does [this](https://github.com/jmurzy/react-router-native/tree/master/docs#redux-support) setup not work? I was hoping we would support it out of the box. But haven't given it a try to be quite honest. We need a simple Redux example in the repo. If you want to take a stab at it, please send a PR over. Otherwise, I will get to it soon.

🍺

[2016-09-15 23:46] jmurzy commented on #43
Animations in NavigationExperimental were slow and HORIZONTAL_PAGER used to perform much better than HORIZONTAL_CARD_STACK. A lot has changed since, so HORIZONTAL_CARD_STACK is a better default. Thanks!

🍺

[2016-09-15 23:46] #43 closed, assigned to nobody

[2016-09-15 23:48] deoqc commented on #47
Sorry for missing it. I will _probably_ only try-out react-router-native when v4 is out, so I probably won't be able to help soon enough.

Thanks for this great work.

[2016-09-15 23:48] #47 closed, assigned to nobody

[2016-09-16 06:55] jonathanglasmeyer commented on #41
Yep, had to increase duration. The default duration of 250ms works perfectly fine in release mode on my iPhone 6s. So it's a minor inconvenience while developing.

I wrote my first custom page transition animation yesterday. A fade from bottom effect. Setting duration to like 6000ms was invaluable. :)
One thing that tripped me up was that the `configureTransition` hook was taken from the transitio

[2016-09-16 07:19] MoOx opened #48 "Will RR v4 be supported?"
I just saw this https://medium.com/@jschloer/react-router-v4-with-react-native-5f2005ab2a72#.u7xdfdcie

It seems that this project won't be useful with v4, not sure if that's already the case with v3 (I don't know RN yet, but I plan to port my RN-web app to RN, so I am investigating).

[2016-09-16 07:46] jmurzy commented on #48
Just saw that also. Here's my [comment](https://medium.com/@jmurzy/this-is-great-and-i-agree-v4-is-a-leap-forward-but-navigation-on-mobile-is-a-tad-bit-more-f3ed1e73cd6a#.kryjj12qy) if you're interested.

Currently we only support v3 and I'm working on v4 support right now. It won't be easy but I'm determined. 🤓

🍺

[2016-09-16 07:51] jmurzy commented on #41
Ha! Cool. 🎉

Yeah, I think that's correct. To be able to configure a different transition animation for each route rather than for an entire stack of routes.

[2016-09-16 09:00] jonathanglasmeyer commented on #48
My concern is: we need advanced features from RR like SSR and route hooks like onEnter for data fetching (they are `await`ed on server for prepopulating client-side flux stores; not awaited on client). I'm sure these use cases will be supported eventually. But we have a shared codebase for web and native and it'd be nice to stay on RR3 for web while these concerns are sorted out. When react-router

[2016-09-16 09:09] jmurzy commented on #48
@jonathanewerner No worries. We'll still maintain support for v3. React Router v4 is still an experiment, really. It'll take a while before it reaches stability, and this buys us time to make it work on React Native.

[2016-09-20 08:52] jeanregisser opened #49 "Handling modals"
For of all, thank you for creating this library and experimenting with it. I really like the stated goals.
I've been dreaming of having easy deep linking in a native app for a long time ;)

Now, I'm trying to see how to handle modal screens (fullscreen or popups).

So far I've tried the following:

[code]

It works partially:
- when I navigate to `/modal`, I get the correct behavior the first time

[2016-09-20 09:01] jeanregisser commented on #49
I've also tried this:

[code]

The main problem is the animation which directly hides the nav bar of the initial stack. And of course I still have the warning about nested `<StackRoute>`.

[2016-09-26 17:00] jonathanglasmeyer opened #50 "Support for usecase "submit button of form in navbar""
A common UI pattern in iOS consists in putting the submit button of a form into the right navbar corner. I wonder how to implement this with this library. The submit button handler would need the local state of the form component in order to submit the form. This is not feasible when using `overlayComponent` and `component`.
The only -- awkward -- way I can imagine doing this is storing  the local

[2016-09-27 14:32] smontlouis opened #51 "Material design bottom navigation transition"
Is this possible to mimic this screen transition (the fadein one) ?

[Material design video](https://material-design.storage.googleapis.com/publish/material_v_9/0B3321sZLoP_HU3VoZm1DU1Y4Qk0/components_bottomnavigation_behavior_crossfade.mp4)

[2016-09-27 16:55] gmchaturvedi1 opened #52 "Requiring unknown module "history/lib/LocationUtils"
Requiring unknown module "history/lib/LocationUtils

error is coming. Kindly suggest

Reagrds
GM

This project contains components that are currently under active development and considered experimental. If it is something you can debug and fix, please consider submitting a pull request instead!

---
### Version

| Dependency | Version |
| --- | --- |
| react-router-native |  |
| react-router |  |

[2016-09-27 17:32] jonathanglasmeyer commented on #52
Could you specify steps to reproduce the error? Could you specify all dependency versions?

[2016-09-27 17:48] gmchaturvedi1 commented on #52
Its done after installing history package v 3.0 .I have one doubt can we
use this in production app
On 27 Sep 2016 23:02, "Jonathan Werner" notifications@github.com wrote:

[2016-09-28 06:17] jonathanglasmeyer commented on #52
Did you install the history version exactly as specified in `peerDependencies`?

[2016-09-29 00:28] DenJohX opened #53 "Possible error with Redux"
Hi, I'm having some issues with redux.
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | 2.0.0-alpha.5 |
| react-router | 3.0.0-alpha.3 |
| react-native | 0.34.0 |
### Problems

By the current example:

[code]

It seems to work, but extraneously the Hot Reloading stops working (tho I'm not sure if it is related), anyways, that doesn't seems to be the correct code, the rou

[2016-09-29 04:10] DenJohX commented on #53
I made a repo with an example of the code I'm using, (with the problems I mentioned).

Please check it https://github.com/DenJohX/test-react-router-native

[2016-09-30 23:34] berkedel commented on #53
That error is possibly due to the router does not know the current path at start.
Try to add this code `history.push('/')` after creating synchronized history like below:

[code]

[2016-10-01 02:50] DenJohX commented on #53
@berkedel  yup, that was it.

The problem with the hot reloading persists, but the router is now working with the correct history.

Thanks

[2016-10-01 02:52] #53 closed, assigned to nobody

[2016-10-01 18:58] DenJohX opened #56 "Navigate between StackRoute and TabsRoute, Cannot pop(-1)"
I have an app which has a dashboard that needs login and some other screens before enter.

The dashboard has a tabbed layout so I went and use the TabsRoute for the dashboard and children and a StackRoute for the other routes.

It works, but not that very well, This is the structure of the routes I have to make:
- Frontpage screens (StackedRoute, all with the same style)
  - Frontpage
  - Login

[2016-10-01 19:26] jonathanglasmeyer commented on #56
The way I understand it is that you'll only be able to `pop` inside of a navigation stack produced by visiting children of a given StackRoute.

The way I actually handled modal-ly screens like Login and Settings in the app I'm currently building is actually using the react-native `Modal` component. Not optimal, but right now it's the only way to achieve correct from-bottom page transitions (navexp

[2016-10-03 16:51] sospedra commented on #32
Clean installation using the command:
` npm install --save react-router-native@v2.0.0-alpha.5 react-router@3.0.0-alpha.3`

Outputs:
[code]

[2016-10-04 18:30] DenJohX opened #57 "Android back button doesn't work in TabsRoute"
### Version

| Dependency | Version |
| --- | --- |
| react-router-native | "^0.34.0", |
| react-router | "^3.0.0-alpha.3" |
| react-native | "^2.0.0-alpha.5" |
### Expected Behavior

Navigating through tabs, then using the android back button to navigate to previous visited tabs
### Actual Behavior

The app closes, as if we reach the last screen in the history, with the warning: **Warning: Cannot

[2016-10-12 12:54] smontlouis opened #59 "Need help to understand how transition works"
I have a regular Tabs interface, and I want to slide between tabs (this one works).
But when I click for example on a Topic in Topics Tab, I want to go in `topics/:topicId` with a horizontal-card-stack (this one is not working).

Am I doing something wrong ?

[code]

[2016-10-12 19:16] jonathanglasmeyer commented on #59
Try a StackRoute with path `/topics` with a child `Route` with path `/topics/:topicId`. Specify the transition on the StackRoute.

[2016-10-12 19:19] jonathanglasmeyer commented on #52
I'll close this for now. Please ping if you still need help. 🍻

[2016-10-12 19:19] #52 closed, assigned to nobody

[2016-10-12 19:21] jonathanglasmeyer commented on #51
You could try solving this via a custom transition. A first approximation would maybe be just fading over with opacity.
The bottom navigation item animation would rather be solved with the Animated library, take a look at the docs, they are quite comprehensive.

[2016-10-12 19:54] smontlouis commented on #56
@DenJohX did you manage to fix your issue ? I must admit that I'm having quite a hard time to make transition, and navigation (especially pop) works, I simply don't understand. :(

[2016-10-12 20:05] DenJohX commented on #56
@bulby97 Not yet, I kept almost the same routing as posted, and follow @jonathanewerner suggestion to use modals for the settings and other views so I don't have to go back from a StackedRoute to a TabsRoute.

Still, I might need to have a working pop to go from one route to another, so I think this will be remain  open until I find a proper solution.

[2016-10-12 20:07] smontlouis commented on #59
Thank you @jonathanewerner, but if I do this, <Route> `:topicId` will inherits from <StackRoute> `/topics`, but their layouts are totally different.

[2016-10-12 20:11] smontlouis commented on #59
I tried something like that :

[code]

But now `topics` inherits tabs from MasterWithTabs... I'm lost ^^'

[2016-10-12 20:32] smontlouis commented on #59
@jonathanewerner  This is what I'm trying to achieve [link here](http://recordit.co/yRsT0YKq5H)
(EDIT: @DenJohX, @jonathanewerner  here is the correct link)

Just have Tabs and want to open Topics/:topicId with a card stack style

[2016-10-12 21:24] DenJohX commented on #59
This is actually related to #56, the only solution I found was to show a modal for the "stacked" routes inside the tabs route, that way you can style them the way you want.

Edit: The downside of showing a modal is that you cant have a url for it, unless you create the modal inside the view then handle the opening/closing with the changes in the url, this is something i was thinking to do, but I h

[2016-10-13 05:43] jonathanglasmeyer commented on #59
Yea the link doesn't work.
I don't fully understand what you mean by "inherits tabs". A visualization / reference gif will surely help. :)

[2016-10-13 07:50] smontlouis commented on #56
@DenJohX Just figured out that you need to use `router.goBack()` and not `router.pop()`

[2016-10-13 11:17] MoOx commented on #39
@jmurzy I am facing the same error. Not sure why reducer is undefined, it's confusing as this warning looks like an internal warning. Looks like @jonathanewerner fix is working for me.

[2016-10-17 14:20] aforty commented on #39
Same problem, can't seem to use `IndexRoute` at all due to this.

[2016-10-17 15:23] aforty commented on #17
Any movement on this? This is quite limiting and is stopping me from truly being able to use this on my app. Switching between tabs does not retain that tabs state and instead pushed the new route on top. I also don't know enough to write my own reducer, that seems that's pretty involved.

[2016-10-18 12:36] anta-semenov opened #60 "[Question] What is the difference between Route, TabsRoute, StackRoute?"
I'm trying to understand what is the difference between these components and what cases are suitable for each of them.
I have seen examples, but it's still not clear for me.

[2016-10-20 02:51] jmurzy commented on #39
Sorry, I just returned from vacation. Will release @jonathanewerner's patch in a release shortly.

[2016-10-20 02:51] #39 closed, assigned to nobody

[2016-10-21 13:10] #60 closed, assigned to nobody

[2016-10-23 15:50] fingermark commented on #5
What is the purpose of the `overlayComponent`?  Coming from the web react-router, this is something I'm not familiar with.

[2016-10-25 09:24] benjaminbillet commented on #48
Hi,

Are you currently working on the react-router-native v4 version ? I didn't see a branch for that in the repository.

Thanks for your work.

[2016-10-25 12:47] Eightyplus commented on #26
Is it possible to pass information in <Route/> to compoent and overlay?
I have the two paths below and only need to add title of the header and the text inside of TextView.

[code]

something like

[code]

[2016-10-25 21:47] liamfd opened #61 "Allow Access to Current Scene or NavigationState"
I've been attempting to write a custom Header Component on top of `NavigationExperimental.Header`, using a lot of this project's Header source as inspiration, but I've run into some trouble. I need a custom one because I need to be to include arbitrary elements and RRN's Header only appears to support text content.

In order to support arbitrary elements with a back button, I've written a BackButt

[2016-10-27 10:10] Eightyplus opened #62 "question to router"
where are the available functions on the router? Documentation?

How do I clear history? pop all?

[2016-10-28 07:16] Eightyplus commented on #62
/history/lib/Actions.js?
push/replace/pop?

[2016-10-28 13:23] jonathanglasmeyer commented on #62
The documentation for the `router` can be found in the react-router repository itself. One straight forward example of using the router api directly can be found in `modules/Go`.

[2016-11-01 12:40] Eightyplus commented on #62
That answer does not really satisfy my question, but I guess that just is what it is.

[2016-11-01 12:40] #62 closed, assigned to nobody

[2016-11-03 03:00] farwayer commented on #59
I have the same question. How can I have no animation between tabs and stack animation in one of them?

[code]

And is it possible to not reset stack state after switching to another tab?

[2016-11-04 14:50] frimoldi commented on #49
Hey, I'm getting the same warning for nested `<StackRoute>`s. Did you solve this ?

[2016-11-07 22:01] frimoldi opened #63 "Tabs Route creates a new view in the hierarchy every time"
Hi there !

I was noticing this behaviour in my `TabsRoute` ... Every time I switch between tabs (with `<Link to="..."/>`) a new view is pushed into the hierarchy and, of course, it's being kept in memory.

Am I doing something wrong ?

Thanks !

[2016-11-11 21:12] jacortinas opened #64 "<Link> component has excessive required props."
The Aviato example and the actual flow types defined for the `Link` component are pretty different. Currently when using the `Link` component the `state`, and `onPress` props are required, even though the values for them are optional. Leading to errors like this.

<img width="584" alt="screen shot 2016-11-11 at 3 08 46 pm" src="https://cloud.githubusercontent.com/assets/171215/20230295/caf69214-a8

[2016-11-11 21:13] jacortinas commented on #64
By the way, thanks for this awesome library, I'm looking forward to contributing some PR's. 💃

[2016-11-12 13:43] ippa commented on #48
Hi there, kind of wondering the same thing as benjaminbillet. I was also looking for a v4-branch to track progress.

I'm currently testing react router 4 alpha in a react-native project and the new API feels Really good. But I do miss the transitions and other mobile-specific things, which is why I'm so optimistic about your project :).

[2016-11-16 15:04] lukefanning opened #65 "Component not unmounting on goBack()"
Hi, I am facing an issue with a fairly simple usage of this module. I am finding that after calling goBack() on the router it does not trigger a componentWillUnmount(). Here is my route configuration:

[code]

What seems to happen is, if I use router.push() to go from path "/" to "/chat/:name/:id" I get a call to componentDidMount() and componentWillReceiveProps(). On calling router.goBack(), comp

[2016-11-22 14:01] NewOldMax opened #66 "Override navigationCard styles"
Hi!
Thanks for this awesome library!

I have image on background in my app.
[code]
![image](https://cloud.githubusercontent.com/assets/1328473/20526288/79f68a88-b0d4-11e6-9a65-dea71fcd7872.png)

So, if I'm try to using ``<TabsRoute path="/" component={Root} transition="horizontal-pager">``, then i have gray background instead image. I found in ``styles.js``
[code]

Making this
[code]
solve my issu

[2016-11-29 14:31] tarkanlar opened #67 "Change Icon when the tab is active"
Hi everyone, what is the best way to change the icon in tabbar when the tabbar is active? With active style we can only change styles but cant change the icon

[2016-12-08 05:15] shakdoesgithub opened #68 "Header right button disable"
How would one go on about disabling the header right button?
The purpose is so one can enable the button when the form is valid and filled out and disabled when it isn't.

[2016-12-10 17:41] VinceBT opened #69 "Router not passed to children"
Hi, I'm using your package for an hybrid app working on both browser and mobile and I've discovered that  this.props.router is undefined when on mobile when calling console.log(this.props) in the render method of a Route :
Using ReactRouter

![image](https://cloud.githubusercontent.com/assets/1362505/21075005/e7a4fea2-bf07-11e6-9e46-70aa46f6ead3.png)

Using ReactRouterNative

![image](https://clou

[2016-12-14 02:53] Danjavia commented on #57
Same issue here, when try to navigate to back page

[2016-12-20 20:14] nicholeuf opened #70 "Unnecessary warning: An <IndexRoute> is not allowed for <TabsRoute>?"
This project contains components that are currently under active development and considered experimental. If it is something you can debug and fix, please consider submitting a pull request instead!
***

### Version

| Dependency          | Version             |
| ------------------- | ------------------- |
| react-router-native |        2.0.0-beta.0             |
| react-router        |

[2016-12-22 07:12] flyjennyetn opened #71 "compatibility react-native-web ?"
compatibility react-native-web ?

[2016-12-22 15:14] chandlervdw commented on #71
Yes. We're still working through lots of issues, but they don't necessarily pertain to `react-native-web`'s ability to render web components. We are using two different routers, one for native (`router/index.js`) and one for web (`router/index.web.js`).

[2016-12-23 02:12] flyjennyetn commented on #71
@chandlervdw    There are examples?

[2016-12-23 18:54] nicholeuf commented on #71
@flyjennyetn We are following the example from `react-native-web` [here](https://github.com/necolas/react-native-web/blob/master/docs/guides/rendering.md#client-and-server-rendering) using webpack aliases. The shared code imports from `react-router-native` and `react-native`.  We have two router files for generating the routes for each platform since native uses different constructs (`nativeHistor

[2016-12-26 01:45] flyjennyetn commented on #71
@nicholeuf   thanks a lot

[2016-12-29 13:24] VinceBT commented on #71
@nicholeuf Could you give us an exemple of routes for ReactRouter and ReactRouterNative ? I have some problems with all the TabsRoute, StackRoute and IndexRoutes that are not allowed.

[2017-01-04 04:18] Darkhorse-Fraternity commented on #70
we try <IndexRouter/> in stackRoute but it not work .props.children is undefine

[2017-01-04 04:19] Darkhorse-Fraternity commented on #70
we try indexRoute  in stackRoute but it not work .props.children is undefine

[2017-01-15 14:14] eyala-stratoscale opened #72 "undefined is not a function(evaluating '(0, _reactRouterNative.withRouter)')"
Taking the example from this page and I always get this error in my emulator.

Any clue why  ?

[2017-01-26 09:55] DaBs commented on #72
Leaving a snippet of how you're using it with both the import statement and your code might leave us with a better idea of how to help you.

[2017-01-26 10:01] eyala-stratoscale commented on #72
@DaBs the exact sample you have on this page that's the snippet

[2017-01-26 19:51] DaBs commented on #72
@eyala-stratoscale Are you using an iOS emulator or Android? I cannot what so ever reproduce this.

[2017-02-08 10:49] ghost opened #73 "Can't specify routes as a plain object"
In `react-router` you can define your routes as a plain object, as [seen here](https://github.com/ReactTraining/react-router/blob/master/docs/guides/RouteConfiguration.md#configuration-with-plain-routes)

When I pass in a simple example, I get the following error.

`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`

[2017-02-09 23:27] ophite commented on #65
Very similar situation ,when push from one screen to next, did not fire componentWillUnmount

[2017-02-10 00:08] ophite opened #74 "Not fired componentDidMount when change route in StackRoute through history.push"

[2017-02-10 01:32] ippa opened #75 "How does this relate to react-router v4 new native package?"
How does this repo relate to https://github.com/ReactTraining/react-router/tree/v4/packages/react-router-native  ?

Both have the same npm name and install with `npm i react-router-native`

[2017-02-13 17:52] ghost commented on #39
I don't see that this was ever applied to release. Is it in a specific tag or branch?

[2017-04-25 15:23] pierre-H commented on #75
+1

[2017-04-26 06:21] AshCoolman opened #76 "Please sanity test my query modification functions [Suggestion?]"
Hi,

I threw together some quick & dirty helper functions for modifying the "query string".

I'm not very familiar with this project, and I was wondering:

**Question**: Is the following approach is (broadly) aligned with the intended usage of this project?

[code]

Thanks

[2017-05-08 04:07] liu0fanyi commented on #75
+1...

[2017-05-15 12:16] the-mold commented on #69
@VinceBT I am having the same issue. could you please share how did you manage to overcome it?

[2017-05-15 18:22] VinceBT commented on #69
I've used the withRouter function if I can remember.
You call it and get the router I think.
I've stopped using their package since they don't want to fix these kind of essential issues.

[2017-05-15 20:07] the-mold commented on #69
@VinceBT thank you!

[2017-07-10 07:55] xahon opened #77 "Is it possible to use es6 class syntax for component definition?"
Can i rewrite that

[code]

as es6 class?

[2017-07-17 17:20] nicholaspsmith opened #78 "Cannot read property 'location' of undefined"
### Version
4.1.1

| Dependency          | Version             |
| ------------------- | ------------------- |
| react-router-native |     4.1.1     |

### Expected Behavior
Render components specified

### Actual Behavior
Throws error message
Cannot read property 'location' of undefined

### Steps to Reproduce
Follow example in Readme.md exactly

[2017-08-02 13:02] ashanjayasundara opened #79 "Not working in react-native-web"
how can we use this react-router-native in react-native-web

i have observed **uncaught TypeError: Cannot read property 'Transitioner' of undefined**
but project is complied successfully

[2017-08-23 11:10] KirillSuhodolov commented on #75
+1

[2017-08-23 11:14] KirillSuhodolov opened #81 "is this project abandoned?"
@jmurzy ?

[2017-09-03 10:45] ystarlongzi commented on #81
@jmurzy

[2017-09-11 14:20] pilord12 commented on #65
Seeing the same issue.  Any updates on this?

[2017-09-12 05:22] coreh commented on #81
The current version published on NPM seems to live here now:

https://github.com/ReactTraining/react-router/tree/master/packages/react-router-native

Looks like it's part of the “official” react-router project now.

[2017-12-04 15:03] nbennink commented on #78
Same problem here! Do you still have this problem or did you find a fix for it?

[2017-12-05 04:34] nicholaspsmith commented on #78
Sadly, I never fixed it. I went with a different router.

[2018-01-18 13:34] olavk commented on #81
Please update README.md so it is plain and clear. Right now it is very confusing

[2018-03-09 05:20] geminiyellow commented on #81
@jmurzy i think the best solution is use **official** `react-router-native`, but **official** have no the Header/Drawer component , so you can cut it out and create a ui package.

[2018-04-10 21:40] mgiridhar commented on #65
I am facing the same issue. Is there a solution?

[2018-04-14 06:30] xcarpentier opened #82 "Add react-router-native to reactnative.gallery 🎨"
Hi @jmurzy!

Sorry, this is not an issue...

I'm Xavier and I’ve been working as a freelance React Native developer for more than 2 years.
I try to help community when I can: sharing my works on open-source, like you do!
But it's hard to be visible sometimes! Right?

I want to help developers to have more visibility.
So, I've created a website where developers can share with entire
world their Rea

[2018-04-18 12:37] #82 closed, assigned to nobody

[2018-06-14 04:20] deejayxd07 commented on #81
Please update README if this project is still alive.

[2018-09-17 13:56] #64 closed, assigned to nobody

[2019-04-18 23:04] OKNoah commented on #79
@ashanjayasundara I haven't tried yet, but could try including it in webpack, the the `babel-loader` config. Or create an alias, `"react-router-native: "react-router"`. Can you be more specific with that you tried?

[2021-05-04 17:13] #6 closed, assigned to nobody

[2021-05-04 17:13] #5 closed, assigned to nobody

[2021-10-31 10:25] DivyaAndavarapu264 opened #84 "Tabs getting reset to initial route on modifying device font"
This project contains components that are currently under active development and considered experimental. If it is something you can debug and fix, please consider submitting a pull request instead!
***

### Version

| Dependency          | Version             |
| ------------------- | ------------------- |
| react-router-native |           5.2.0          |
| react-router        |         5.2.0

[2022-01-10 14:22] liamfd commented on #61
I'm going to assume this is now very out of date.

[2022-01-10 14:22] #61 closed, assigned to nobody